<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detection | CredCheck</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <h1 class="logo">CredCheck</h1>
    </header>
    
    <main>
        <div class="content">
            <h2>Fake News Detection:</h2>
            <p class="subtitle">Focus on Facts, not Fiction.</p>
            <p class="description">
                CredCheck helps you verify news, filter out falsehoods, and stay informed—
                because the truth deserves your attention, not the lies.
            </p>
            <button id="try-now-btn"></button><a href="login.html" class="cta-button">Try now for FREE</a>
            </button>

        </div>

        <div class="images">
            <img src="homepage1.png" alt="Person verifying news" class="image-left">
            <img src="homepage2.png" alt="Person analyzing news" class="image-right">
        </div>
    </main>
    <script src="script.js"></script>

</body>
</html>
